body {
    margin: 0;
    font-family: Avenir Next, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #002237;
}

h1 {
    font-weight: 500;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    font-weight: 400;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

table {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    color: #657795;
    border-radius: 4px;
    padding: 0px;
    border: 1px solid #e9f1ff;
}

table tbody tr {
    height: 30px;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    padding: 16px 10px;
    border-bottom: 1px solid #e9f1ff;
}

td {
    display: table-cell;
    vertical-align: inherit;
    padding: 0px 10px;
}

select {
    box-sizing: border-box;
    height: 54px;
    border-radius: 4px;
    outline: 0;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 16px;
    width: 100px;
    font-family: Avenir Next;
    font-weight: 700;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    padding: 5px;
}

div {
    display: block;
}

form {
    display: block;
    margin-top: 0em;
    margin-block-end: 0em;
}

button {
    font-family: Avenir Next;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    outline: none;
    -webkit-transition: .3s;
    transition: .3s;
    padding: 0 32px;
    height: 54px;
    line-height: 54px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 34, 55, .1);
    background: linear-gradient(135deg, #6900ff, #4736ff);
    color: #fff;
}

.container {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    vertical-align: middle;
}

.header,
.header_brand {
    display: flex;
    align-items: center;
}

.header {
    height: 80px;
    position: relative;
}

.header_brand_name {
    font-size: 20px;
    font-weight: 600;
}

.wrapper-content {
    padding-top: 32px;
}

.red {
    color: red;
}

.map {
    height: 100px;
    width: 100px;
}

.filters {
    height: 22px;
    font-size: 13px;
    text-align: right;
    vertical-align: middle;
}